@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');

*{
   margin: 0;
   padding: 0;
   font-family: 'Asul';
}

body{
    width: 430px;
    height: 932px;
    margin: 0 auto;
}

.cabecalho{
    display: flex;
    text-align: center;
    font-size: 36px;
    color: #ff760f;
}

.cabecalho h1{
    margin-top: 20px;
}


.cabecalho img{
    width: 200px;
    height: 130px;
}

.banner{
    text-align: center;
}

.banner img{
    width: 610px;
    height: 247px;
}

.banner h1{
    font-size: 36px;
    margin-top: 5px;
    margin-left: 100px;
}

.banner2{
    text-align: center;
}

.banner2 img{
    width: 610px;
    height: 247px;
}

.banner2 h1{
    font-size: 36px;
    margin-top: 5px;
    margin-left: 15px;
}

a{
    font-size: 28px;
    text-decoration: none;
    color: #ff760f;
    padding: 20px;
}

.titulo{
    font-size: 36px;
}

.coluna{
    display: flex;
    justify-content: space-between;
}

.cabecalho2{
    display: flex;
    font-size: 28px;
    flex-direction: column;
}

.cabecalho2 img{
    width: 152px;
    height: 111px;
}

.cabecalho3{
    display: flex;
    font-size: 28px;
    flex-direction: column;
}

.cabecalho3 img{
    width: 152px;
    height: 111px;
}

.banner3{
    font-size: 22px;
    margin-top: 60px;
}

.banner3 img{
    width: 430px;
    height: 183px;
}